*{
margin: 0;

}

body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 1.1em;
line-height: 1.6em;
background-color: beige;
}


.container{
max-width: 1600px;
margin: 0 auto;


}

main{
background-color: aliceblue;
min-height: 700px;
padding-top: 2em;
box-shadow: 0 0 8px black;

}


header{

    background-color: #090040;
color: white;
padding: 1.2em;
}


.main_nav{
list-style-type: none;
display: flex;
justify-content: center;

}

ul li {
margin-right: 1.5em;



}


ul li a {
color: white;
font-size: 1.3em;
text-decoration: none;

}

.logo{
text-decoration: none;

}


.navigation{
display: flex;
justify-content: center;

}

h1{
display: flex;
justify-content: center;
margin-bottom: 1em;
color: white;
padding-top: 1em;
font-size: 2em;

}

footer{
background-color: #090040;
color: white;
padding: 1.2em;
margin-top: 2em;

}

.p_footer{
display: flex;
justify-content: center;
font-size: 1.4em;

}

h2{

    text-align: center;
margin-bottom: 1em;
font-size: 1.4em;


}

.section_jobs{
padding: 1em;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px black;
    text-align: center;

}

.ul_jobs {
list-style: none;
text-align: left;
display: inline-block;



}

.ul_jobs li {
padding-bottom: 1em;

}

.about_section {
   background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px black;
    margin-top: 2em;
 padding: 1em;



}

.about_p {
display: flex;
justify-content: center;
}

.about-p{

    display: flex;
justify-content: center;
}

